body {
}

.advertise{

}

.slideshow { 
    padding: 10px; 
    height: 350px;
    width: auto;
}

.slideshow > div { 
    position: absolute; 
    margin-left: 8%;
    height: 200px;

}